* {
  font-size: 15px;
  font-family: "Iosevka Nerd Font", "Noto Sans CJK JP";
  color: #f4d9e1;
}

// Below is all styling for bar and bar widgets

.workspace-entry {
  font-family: "Noto Sans CJK JP";
  font-size: 14px;
  background-color: rgba(27,27,27,0.3);
  border: 0px solid;
  border-radius: 10px;
}

.bar-active-ws
.bar-ws,


.current {
  background-color: rgba(27,27,27,0.5);
  margin: 0;
  padding: 10px;
  //color: #f40048;
}

//.occupied{
  //background-color: rgba(27,27,27,0.3);
  //color: rgba(125, 255, 255, 1);
//}

.bar-ws {
  color: transparent;
}

window,
.bar {
  padding: 0px;
  margin: 0px;
}

window {
  background-color: rgba(27, 27, 27, 0.3);
  border: 2px solid rgba(94,94,94,1);//rgba(125, 125, 125, 0.75);
  border-radius: 10px;
}

.w-name {
  background-color: rgba(255,255,255, 0.25);
  padding: 0px 5px 0px 5px;
  margin: 10px;
  border: 1px solid #f4d9e1;
  border-radius: 10px;
}

bar {
  background-color: rgba(125, 125, 125, 0.25);
}

.bar-side,

.bar-time{
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px;
}

.bar-rofi-widget {
  background-color: rgba(125, 125, 125, 0.25);
  padding: 12px 8px;
  margin: 4px 0px;
  border: 0px solid #505050;
  border-radius: 8px;
}

.bar-bat {
  font-size: 10px;
}

.bar-wifi-widget {
  margin: 0px;
}

.bar-bt-btn {
  all: unset;
  margin-left: -2px;
}

.bar-rofi-btn {
  all: unset;
  margin-left: -3px;
}

.bar-wifi-widget,
.bar-vol-widget,
.bar-bat-widget,
.bar-bt {
  padding: 4px 3px;
}

.bar-br-widget {
  padding: 4px 0px;
}

.slidetxt {
  padding: 2px 0px;
  font-size: 12px;
}
